.accueil-menu {
	text-align: center;
	background: url("../../assets/header-0-1.png") no-repeat;
	// background-position: top center;
	padding: 0px;
	height: 70px;
}

.accueil-menu img {
	width: 32px;
	height: 32px;
}

.accueil-menu button.active {
	color: #FFFFFF;
	background-color: #436CB9;
}

.accueil-menu button.active .icon, .accueil-menu button.active .iconOtv {
	background-position: left bottom;
}

.accueil-menu button {
	font-size: 13px;
	padding: 3px 2px;
	width: 88px;
	margin: 8px;
	border-radius: 10px;
	height: 60px !important;
	background-color: #77B5FE;
	//border-color: #DFF2FF;
}

.accueil-panels {
	background: url("../../assets/gendarmerie.png") bottom left no-repeat;
}

.accueil-panels .onyx-toolbar {
	background-color: #436CB9;
	border-color: #436CB9;
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
}