.aide-scroller {
	padding-top: 10px;
	padding-bottom: 10px;
	// margin: 10px;
	// background-color: #FFF;
	color: black;
	// box-shadow: 1px 1px 12px #436CB9, 1px 2px 20px grey inset; 
	// text-shadow: #DFF2FF 0px 1px 0, #DFF2FF -1px 0;
	// border: 1px solid cornflowerblue;
	// border-radius: 2px;
}

.aide-title{
	text-align: center;
	font-size: 22px;
	margin: 15px;
}

.format-aide{
	font-size: 16px;
	padding:10px;
}

.format-aide-credit{
	font-size: 20px;
	text-align:center;
	font-weight:bold;
}

.format-aide-etudiant{
	font-size: 14px;
	text-align:center;
	font-weight:italic;
	padding:10px;
}
