
.alerte-toolbar {
	margin:0px;
	padding:0px;
	font-size: 16px;
}

.alerte-navigation {
	margin: 2px 0;
}

.alerte-title {
	font-size:18px;
	// line-height: 32px;
	text-align: center;
	white-space: nowrap;
	color: #436CB9;
}

.alerte-fleche {
	width: 32px;
	padding-bottom: 32px;
    display: inline-block;
    background-position: left top;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.alerte-panels {
	width: 100%;
	height: 100%;
}

.alerte-groupbox {
	margin: 10px;
	font-size: 18px;
}

.alerte-groupbox > * {
	padding: 5px;
	word-wrap: break-word;
}


.alerte-button-send {
	width: 100%;
	// text-align: center;
	font-weight:bold;
	border-radius: 0;
}

.alerte-button-rounded-send {
	font-weight:bold;
	border-radius: 3px;
	padding: 5px;
	width: 100px;
}

.alert-popup{
	text-align: center;
}

