.brigade-info {
	font-size: 16px;
	margin: 0 10px;
}

.brigade-scroller {
	
}

.brigade-input-container {
	margin: 10px 10px 5px 10px;
}

.brigade-geolocalisation-button {
	padding: 0px 5px;
	background-color: #77B5FE;
}

.brigade-geolocalisation-button.onyx-button {
	height: 42px;
}

.brigade-input {
	margin-right: 10px;
}

.brigade-input input {
	width: 100%;
}

.brigade-description {
	text-align: center;
	font-size: 16px;
	margin: 15px;
}

.brigade-item {
	margin: 10px;
	font-size: 18px;
}

.brigade-item > * {
	padding: 5px;
	word-wrap: break-word;
}


.brigade-item-type {
	color: royalblue;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

.brigade-item-label {
	width: 110px;
	padding: 2px;
	margin-right: 5px;
}

.brigade-item-content {
	width: 175px;
}

.brigade-item-group {
	text-align: center;
}

.brigade-item-group > * {
	margin: 5px;
}

.brigade-item-ville {
	text-transform: lowercase;
}

.brigade-item-ville:first-letter {
	text-transform: uppercase;
}

/*
.brigade-item > * {
	border-color: cornflowerblue;
}

.brigade-item .onyx-groupbox-header {
	background-color: cornflowerblue;
}
*/