.compte-title {
	text-align: center;
	font-size: 22px;
	margin: 15px;
}

.compte-scroller > * {
	margin: 10px;
}

.compte-scroller input {
	width: 100%;
}
zz
/* Conteneur du bouton valider */
.compte-button-send {
}
.compte-button-send > * {
	width: 100%;
}

.compte-storage-text {
	line-height: 32px;
	font-size: 17px;
	}