.otv-scroller {
	margin-top: 10px;
}

.otv-subtitle {
	padding-top:2px;
	color:#436CB9;
	text-align: center;
	// text-shadow: 0px 0px 9px #777;
	border-radius: 2px;
	font-size:18px;
}


.otv-title {
	padding: 0;
	text-align: center;
	font-size: 16px;
}

.otv-texte {
	font-size: 16px;
	padding: 10px;
}

.otv-button-map {
	margin-top: 40px;
	background-color: #77B5FE;
}

.otv-popup-buttons {
	margin: 0 5px 0 5px;
}