.prevent-title {
	font-size: 16px;
}

.prevent-groupbox {
	margin: 10px;
	// box-shadow: 1px 1px 12px #aaa;
}

.msgTitle {
	text-align: center;
}

.prevent-message {
	padding: 5px;
	font-size: 18px;
	text-align: center;
}

.prevent-message-title{
	padding: 5px;
	font-size: 18px;
	text-align: center;
	border: 3px solid #436CB9;
	border-radius: 2px;
	// box-shadow: 1px 1px 12px #436CB9, 1px 2px 20px grey inset;
}

.prevent-scroller {
	//background: url("../../assets/gendarmerie.png") no-repeat;
}