
.proteger-toolbar {
	margin:0px;
	padding:0px;
	font-size: 16px;
}

.proteger-navigation {
	margin: 2px 0;
}

.proteger-title {
	font-size:18px;
	line-height: 32px;
	text-align: center;
	white-space: nowrap;
	color: #436CB9;
}

.proteger-fleche {
	width: 32px;
	padding-bottom: 32px;
    display: inline-block;
    background-position: left top;
    background-repeat: no-repeat;
}

.proteger-panels {
	width: 100%;
	height: 100%;
}

.proteger-groupbox {
	margin: 10px;
	font-size: 18px;
}

.proteger-groupbox > * {
	padding: 5px;
	word-wrap: break-word;
}
