body {
	background-color: #999;
}

#app {
	background-color: #DFF2FF;
	width: 320px;
	height: 480px;
	margin: 10px auto;
	font-size: 20px;
}

.app-main-panels > * {
    width: 100%;
}

.app-main-panels {
	background: url("../assets/header-0-1-deg.png") #DFF2FF no-repeat;
	// background-position: top center;
}

/* Icons */
.icon {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-position: left top;
        background-repeat: no-repeat;
}

/* Toolbar header */
.app-header {
	background: url("../assets/header-0-0.png") no-repeat;
	// background-position: top center;
	text-align: center;
	color: #004494;
	font-weight:bold;
	height: 80px;
}

.app-header-content {
	
}

.app-header-title, .app-header-subtitle {
	text-transform: uppercase;
}

.app-header-title {
	font-size: 18px;
}

.app-header-subtitle {
	font-size: 15px;
}

/* Bordure du menu */

.app-footer-border {
	width: 100%;
	padding-bottom: 5px;
	background-color: #436CB9;
}

/* Toolbar menu */
.app-footer-menu:first-child, .app-footer-menu:last-child, .app-footer-menu {
	border-radius: 0px;
	border-bottom: 0px;
	width: 106px;
	height: 65px;
	font-size: 12px;
	padding: 0;
	margin-top: 0;
}

.app-footer-menu  {
	background-color: #77B5FE;
	width: 108px;
}

.app-footer-menu.active  {
	background-color: #436CB9;
}

.app-footer-menu.active .icon {
    background-position: left bottom;
}

/* Groupbox */
.onyx-groupbox {
	margin-top: 10px;
}

.onyx-groupbox > * {
	background-color: #FFF;
	color: black;
	// box-shadow: 1px 1px 12px #436CB9, 1px 2px 20px grey inset; 
	border: 1px solid cornflowerblue;
	// border-radius: 2px;
	// border-color: cornflowerblue;
}

.onyx-groupbox > :first-child {
	border-color: cornflowerblue;
}

.onyx-groupbox > .onyx-input-decorator {
	border-color: cornflowerblue;
}

.onyx-groupbox-header {
	background-color: cornflowerblue;
}

/* Texte */
.label {
	color: cornflowerblue;
	font-size: 15px;
	text-transform: uppercase;
}

/* Checkbox */
.checkbox {
        padding-bottom: 32px;
}

/* Input */

.onyx-input-decorator {
	border-color: #77B5FE;
}

/* Popup */
.popup-light {
	max-width: 280px;
    padding: 5px;
    border: 0;
    //border: 1px solid cornflowerblue;
    border-radius: 10px;
    background-color: white;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);

    /* Default minimise animation */
    //-webkit-animation: minimise 500ms linear;
    //-moz-animation: minimise 500ms linear;
}

.popup-light > * {
    //margin: 10px;
}

.onyx-popup {
	//opacity: 0;
	/* Transition opacity on open */
    //-webkit-transition: opacity 500ms ease-in;
    //-moz-transition: opacity 500ms ease-in;
    //transition: opacity 500ms ease-in;
}



@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -moz-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -moz-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -moz-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-moz-keyframes minimise {
  0% {
    -moz-transform: scale3d(1,1,1);
  }
  100% {
    -moz-transform: scale3d(0.1,0.1,1);
  }
}
